<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<h1>TO DO LIST</h1>
<ul>
    <%
        var i = 0; 
        while(liste[i])
        {%>
            <li><a href="/supprimer/<%=i%>">&#x2717</a>;
           <%=liste[i]%>
           </li>
           <%i++;
        }   %>
</ul>
<form method="post" action="/ajouter">
    <p>Que dois-je faire ? <input type="text" name="listes" /></p>
    <input type="submit" value="Envoyer" />
</form>
</body>